---
layout: default
title: "Projects"
fulltitle: "Project list"
order: 2
---
<main>

<div class="container">

<div class="card-deck">
  {% for project in site.pages %}
 {% if project.path contains 'myProjects/' %}
 <div class="card" style = "width: 50%">
 {% if project.photo %}
 <img class="card-img-top" src="{{ project.photo }}" alt="Card image
cap">
 {% endif %}
 <div class="card-body">
 <h6 class="card-title">{{ project.fulltitle }}</h6>
 <p class="card-text">{{ project.description }}</p>
 <button href="{{ project.path }}" class = "intro" type="button" name="button">  <h1>Learn more</h1></button>
 </div>
 </div>
 {% endif %}
{% endfor %}
</div>
</div>

</main>
