---
layout: default
title: "Projects"
fulltitle: "Project list"
order: 2
---
<main>
  {% assign check = 0 %}

<div class="container">



  {% for project in site.pages %}
  {%if check == 0%}
  <div class="card-deck">
  {%endif%}
 {% if project.path contains 'myProjects/' %}

 <div class="card mw-50%">
 {% if project.photo %}
 <img class="card-img-top" src="{{ project.photo }}" alt="Card image
cap">
 {% endif %}
 <div class="card-body">
 <h6 class="card-title">{{ project.fulltitle }}</h6>
 <p class="card-text">{{ project.description }}</p>
 <a href="{{ project.path }}" class = "intro">  <h1>Learn more</h1></a>
 </div>
 </div>

 {%assign check = check | plus: 1%}
 {% endif %}
 {%if check == 3%}
 </div>
{%assign check = 0%}
 {%endif%}
{% endfor %}
{%if check != 0%}
</div>
{%endif%}
</div>

<h1>{{check}}</h1>

</main>
