---
layout: default
title: "Projects"
fulltitle: "Project list"
order: 2
---
<main>

<div class="container">


  {% for project in site.pages %}
 {% if project.path contains 'research/' and project.display-on-home=="yes" %}
 <div class=“card">
 {% if project.photo %}
 <img class="card-img-top" src="/images/projects/{{ project.photo }}" alt="Card image
cap">
 {% endif %}

 <div class="card-body">
 <h6 class="card-title">{{ project.research-title }}</h6>
 <p class="card-text">{{ project.description }}</p>
 <a href="{{ project.path }}" class="card-link float-right">Find Out More</a>
 </div>
 </div>
 {% endif %}
{% endfor %}

</div>

</main>
