@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
/*Sets the style of the leaf icon near on the logo */
i {
  font-size: 40px;
  background-color: inherit;
  color: #C9CCC9;
  padding: 5px;
}
