/*Container at the home page that has a nice image backround */
.container-fluid.responsive-scale {
  width: 100%;
  /*Sets the height to be 92 viewport units so that it would fill the entire screen */
  height: 92vh;
  background-image: url(https://picsum.photos/3000/1500?image=1022);
  background-size: cover;
  overflow: hidden;
  position: inherit;
}
