
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Pattaya');

h1.name
{
font-family: 'Pattaya', sans-serif;
font-size: 60px;
padding: 10px;
}
p, a
{
font-family: 'Noto Sans JP', sans-serif;
padding: 10px;
}
h1
{
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px;
  font-size: 40px;
}
