<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/Website/assets/master.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <header>

    {% include header.html %}
  </header>

  <main>
    <!--The project image at the top -->
    <div class="container-fluid p-0" style="position:relative; text-align: center">
      <img class="img-fluid top-img" src="{{page.photo}}" alt="Top image">
      <!--Displays the title of the project in a nicer backround -->
      <div class="header-text">
        <h1>{{page.fulltitle}}</h1>
      </div>
    </div>

    <div class="container mt-4 p-1 mb-2">
      <!--Splits the container in 2 collums, 1 for the content of the project and the other to display other featured projects -->
      <div class="row">
        <div class="col-lg-9">
          <div class="container text" style="margin-top:0px;">
            {{content}}
          </div>
        </div>
        <div class="col-lg-3">
          {% include sideSection.html %}
        </div>
      </div>


    </div>


  </main>


  <footer>
    {% include footer.html %}
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
