body {
  background-color: #1B421B;
}

main {
  /*Sets the minium height of the content so the footer would always stay at the bottom */
  min-height: 62.5vh;
}

html {
  scroll-behavior: smooth;
}

footer {
  background-color: #377F2F;
}

nav {
  background-color: #377F2F;
}
aside
{
  background-color:#1F4C1F;
}
/*Increases the minium height of the screen so that the footer would always be at the bottom */
@media only screen and (max-width: 768px) {
  main {
    min-height: 72vh;
  }
}

@media only screen and (max-width: 425px) {
  main {
    min-height: 72.8vh;
  }
}

@media only screen and (max-width: 375px) {
  main {
    min-height: 73.7vh;
  }
}

@media only screen and (max-width: 320px) {
  main {
    min-height: 74vh;
  }
}
/*Aside will appear under the main content when the screen is viewed on a mobile device, so the top margin is increased to separate it from the main content */
@media only screen and (max-width: 1023px) {
  aside {
    margin-top: 20px;
  }
}
