@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Pattaya');

h1.bolder {
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
  padding: 5px;
  color: #C9CCC9;
}

p, a {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
  color: #C9CCC9;
}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
  font-size: 40px;
  color: #C9CCC9;
}


body {
  background-color: #1B421B;

}
.cvtext h1
{

  font-size: 20px;
}
h6
{
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 6px !important;
  font-size: 30px;
  color: #C9CCC9;
}
main
{
  min-height: 80vh;

}
html
{
  scroll-behavior: smooth;
}
.itemsflex h1
{
  font-size: 60px;
}
@media only screen and (max-width: 425px) {
    /* For mobile phones: */
    h1
    {
      font-size: 40px !important;
    }
    }
    @media only screen and (max-width: 375px) {
        /* For mobile phones: */
        h1
        {
          font-size: 30px !important;
        }
        }

        @media only screen and (max-width: 320px) {
            /* For mobile phones: */
            h1
            {
              font-size: 20px !important;
            }
            }
