@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Pattaya');

h1.bolder {
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
  padding: 5px;
  color: #C9CCC9;
}

p, a {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
  color: #C9CCC9;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
  font-size: 40px;
  color: #C9CCC9;
  
}


body {
  background-color: #153315;
}

.container.text {
  background-color: #477247;
  border-left: 5px solid #0B1C0B;
  border-right: 5px solid #0B1C0B;
}
